{% extends "user/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Forget Password
{% endblock title %}

{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="text-center">
        <img class="mb-4" src="{% static 'assets/brand/bootstrap-solid.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Link has been sent to your email id.</h1>
    </div>
</div>
{% endblock content %}